@tailwind base;
@tailwind components;
@tailwind utilities;

body,
header {
  font-family: "sora", sans-serif;
  color: white;
}

.translate-z-0 {
  transform: translateZ(0px);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #ec4899;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #ec4899;
}

@layer base {
  body {
    @apply bg-bl overflow-auto leading-relaxed  scroll-smooth;
  }
  .page {
    @apply w-full h-screen overflow-auto scroll-smooth;
  }
  .h1 {
    @apply text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold;
  }
  .h2 {
    @apply text-[35px] leading-tight md:text-[54px] md:leading-[1.3] mb-4 font-semibold;
  }
  p {
    @apply text-white/75;
  }
  .btn,
  .input {
    @apply h-[52px];
  }
  .input {
    @apply w-full h-[52px] rounded-lg pl-6 capitalize;
  }
  .input,
  .textarea {
    @apply bg-transparent outline-none focus:ring-1 focus:ring-accent border border-white/20 placeholder:text-white/30 placeholder:font-light;
  }
  .textarea {
    @apply w-full h-[180px] p-6 capitalize rounded-lg resize-none;
  }
  .glass {
    @apply bg-bl backdrop-blur-sm;
  }
  .gradient-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/* bg-slate-900/30 bg-opacity-60  backdrop-blur-lg */
