@tailwind base;
@tailwind components;
@tailwind utilities;

body,
header {
  font-family: "sora", sans-serif;
  color: white;
}

.translate-z-0 {
  transform: translateZ(0px);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #ec4899;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #ec4899;
}

@layer base {
  body {
    @apply bg-bl overflow-auto leading-relaxed  scroll-smooth;
  }
  .page {
    @apply w-full h-screen overflow-auto scroll-smooth;
  }
  .h1 {
    @apply text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold;
  }
  .h2 {
    @apply text-[35px] leading-tight md:text-[54px] md:leading-[1.3] mb-4 font-semibold;
  }
  p {
    @apply text-white/75;
  }
  .btn,
  .input {
    @apply h-[52px];
  }
  .input {
    @apply w-full h-[52px] rounded-lg pl-6 capitalize;
  }
  .input,
  .textarea {
    @apply bg-transparent outline-none focus:ring-1 focus:ring-accent border border-white/20 placeholder:text-white/30 placeholder:font-light;
  }
  .textarea {
    @apply w-full h-[180px] p-6 capitalize rounded-lg resize-none;
  }
  .glass {
    @apply bg-bl backdrop-blur-sm;
  }
  .gradient-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/* bg-slate-900/30 bg-opacity-60  backdrop-blur-lg */

.bg-img-projects {
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1074' height='700' preserveAspectRatio='none' viewBox='0 0 1074 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1478%26quot%3b)' fill='none'%3e%3cpath d='M590.135%2c151.186C621.439%2c152.699%2c654.773%2c145.168%2c671.644%2c118.755C689.627%2c90.601%2c686.406%2c54.671%2c670.574%2c25.254C653.788%2c-5.935%2c625.528%2c-34.054%2c590.135%2c-32.693C556.231%2c-31.389%2c534.375%2c0.443%2c519.742%2c31.054C507.347%2c56.985%2c506.686%2c86.689%2c521.216%2c111.486C535.582%2c136.003%2c561.752%2c149.815%2c590.135%2c151.186' fill='rgba(116%2c 110%2c 215%2c 0.24)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M831.662%2c92.41C852.276%2c93.132%2c872.297%2c84.102%2c883.351%2c66.687C895.243%2c47.952%2c897.661%2c24.343%2c887.335%2c4.701C876.283%2c-16.322%2c855.413%2c-31.771%2c831.662%2c-31.632C808.115%2c-31.494%2c787.333%2c-15.864%2c777.103%2c5.345C768.009%2c24.199%2c774.772%2c45.535%2c785.887%2c63.272C796.181%2c79.699%2c812.288%2c91.731%2c831.662%2c92.41' fill='rgba(116%2c 110%2c 215%2c 0.24)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M923.149%2c486.37C973.569%2c484.901%2c1011.655%2c447.16%2c1037.859%2c404.059C1065.437%2c358.698%2c1084.811%2c305.569%2c1062.297%2c257.494C1036.476%2c202.359%2c984.029%2c158.649%2c923.149%2c159.119C862.888%2c159.585%2c814.781%2c205.793%2c787.675%2c259.616C763.293%2c308.029%2c768.444%2c364.565%2c796.245%2c411.099C823.281%2c456.352%2c870.457%2c487.905%2c923.149%2c486.37' fill='rgba(116%2c 110%2c 215%2c 0.24)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M86.949%2c372.136C110.185%2c372.512%2c129.597%2c355.528%2c140.273%2c334.886C150.094%2c315.898%2c147.161%2c294.005%2c137.12%2c275.133C126.303%2c254.804%2c109.912%2c236.4%2c86.949%2c234.666C61.093%2c232.714%2c33.494%2c243.334%2c21.684%2c266.418C10.551%2c288.179%2c23.695%2c312.405%2c36.536%2c333.205C48.49%2c352.568%2c64.196%2c371.767%2c86.949%2c372.136' fill='rgba(116%2c 110%2c 215%2c 0.24)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M40.338%2c226.974C87.635%2c224.812%2c123.351%2c186.762%2c143.666%2c143.996C161.14%2c107.209%2c153.848%2c65.83%2c133.694%2c30.441C113.286%2c-5.393%2c81.568%2c-36.651%2c40.338%2c-37.44C-2.033%2c-38.251%2c-36.783%2c-9.082%2c-59.416%2c26.747C-84.084%2c65.796%2c-101.353%2c112.913%2c-80.757%2c154.254C-58.253%2c199.424%2c-10.074%2c229.278%2c40.338%2c226.974' fill='rgba(116%2c 110%2c 215%2c 0.24)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1311.596%2c406.644C1365.074%2c404.456%2c1405.868%2c364.828%2c1432.78%2c318.563C1459.882%2c271.971%2c1477.941%2c214.782%2c1450.016%2c168.679C1422.763%2c123.686%2c1364.199%2c118.72%2c1311.596%2c118.493C1258.436%2c118.264%2c1200.46%2c123.166%2c1171.093%2c167.478C1139.167%2c215.65%2c1142.656%2c279.404%2c1171.929%2c329.233C1200.826%2c378.423%2c1254.594%2c408.976%2c1311.596%2c406.644' fill='rgba(116%2c 110%2c 215%2c 0.24)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M663.161%2c810.861C729.323%2c808.853%2c779.835%2c758.522%2c812.181%2c700.771C843.652%2c644.583%2c856.923%2c577.222%2c825.508%2c521.003C793.416%2c463.571%2c728.931%2c432.462%2c663.161%2c434.088C600.118%2c435.647%2c546.566%2c474.61%2c514.147%2c528.701C480.652%2c584.587%2c467.176%2c652.706%2c497.603%2c710.32C529.92%2c771.512%2c593.992%2c812.961%2c663.161%2c810.861' fill='rgba(116%2c 110%2c 215%2c 0.24)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1478'%3e%3crect width='1274' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}
